aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
cffi --only-binary all; sys_platform == 'win32'
chardet==3.0.4
colorlog==4.6.2
Deprecated==1.2.10
discord.py[voice]==1.5.1
idna-ssl==1.1.0
idna==2.10
multidict==4.7.6
pip
pycparser==2.20
PyGithub==1.53
PyGithub==1.53
PyJWT==1.7.1
PyNaCl==1.2.1
python-dotenv==0.14.0
requests==2.25.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.1
websockets==6.0
wrapt==1.12.1
yarl==1.5.1
youtube-dl==2020.11.12